STRIPE_WEBHOOK_SECRET=whsec_test_placeholder
STRIPE_SECRET_KEY=sk_test_placeholder
SENALO_FULL_ANALYSIS_PRICE_ID=price_test_full_analysis_placeholder
SENALO_EXPERT_REVIEW_PRICE_ID=price_test_expert_review_placeholder
SENALO_FULL_ANALYSIS_PRODUCT_ID=prod_test_full_analysis_placeholder
SENALO_EXPERT_REVIEW_PRODUCT_ID=prod_test_expert_review_placeholder
GOOGLE_CLOUD_PROJECT=your-google-cloud-project-id
RESEND_API_KEY=re_test_placeholder
SENALO_EMAIL_FROM=SENALO <notifications@mail.senalo.com.au>
SENALO_EMAIL_REPLY_TO=hello@senalo.com.au
SENALO_PUBLIC_FULFILMENT_BASE_URL=https://fulfilment.senalo.com.au
SENALO_TOKEN_EXPIRY_DAYS=14
SENALO_RESULT_TOKEN_EXPIRY_DAYS=30
SENALO_TOKEN_DERIVATION_SECRET=replace_with_32_plus_random_bytes_from_secret_manager
SENALO_UPLOAD_BUCKET=senalo-private-uploads
SENALO_MAX_UPLOAD_BYTES=5242880
SENALO_OPERATOR_AUTH_TOKEN=replace_with_local_operator_secret_for_non_production_testing
